@import '../../style/global.scss';

.breadcrumb {
    width: 80%;
    margin: 16px auto 0;
    display: flex;
    font-size: 14px;
    color: $medGrey;

    @include respond-to($mobBreakpoint) {
        font-size: 12px;
    }

    &__step {
        margin-right: 24px;
        position: relative;
        display: flex;
        align-items: center;

        &:after {
            content: '>';
            position: absolute;
            right: -18px;
        }

        &:last-child {
            font-weight: 500;

            &:after {
                content: '';
            }
        }
    }
}
